@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


*, html , body, input , button{
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased ;
}

.font1{
  font-family: 'Inter', sans-serif;

}

.font2{
  font-family: "'Fira Mono', monospace";

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


*,input,button{
  font-weight: 500;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in;
}

.animate-fade-out {
  animation: fade-out 0.5s ease-out;
}